* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --black: #0D114F;
    --azul: #7d8aef;
    --verde: #31c491;
    --rosa: #fca2fc;
    --vermelho: #fd0505;
    --roxo: #c7cbfc;
    font-size: 62.5%
}

body {
    height: 100vh;
    background: rgb(117, 130, 241);
}

body,
button,
input,
textarea {
    font-size: clamp(14px, 1.6rem, 2vw);
    border-radius: 1.5rem;
    padding: .8rem;
    font-family: 'Open Sans', sans-serif;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

@media only screen and (min-width: 481px) and (max-width: 900px) {
body {
    height:10vh;
}
}