.buttonsRow {
    border: 2px solid transparent;
    border-radius: 10px;
    /* padding: 12px; */
    /* margin-bottom: 10px; */
    min-height: 100px; /* Definindo uma altura mínima */
    box-sizing: border-box; /* Faz com que a borda seja contabilizada no cálculo da altura */
    display: flex;
    flex-direction: row;
    align-items: center;
}


