.mostrarVotos {
    background-color: var(--rosa);
    margin-bottom: 1rem;
}

.barraDeVotos {
    position: relative;
    height: 1.5rem;
    border-radius: 1.5rem;
    margin-top: 1.0rem;
}

.upBar,
.downBar {
    position: absolute;
    height: 100%;
    border-radius: 0rem 10rem 0rem 10rem;
    text-align: center;
    color: black;
}

.upBar {
    background-color: var(--verde);
    left: 0;
}
.downBar {
        background-color: var(--vermelho);
        right: 0;
    }