.retangulo {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    min-height: 100px; /* Definindo uma altura mínima */
    box-sizing: border-box; /* Faz com que a borda seja contabilizada no cálculo da altura */
    display: flex;
    flex-direction: column;
}

.com-bordas {
    border-color: #ccc;
}

.sem-bordas {
    border-color: transparent;
}

.content-wrapper {
    flex-grow: 1; /* Faz com que o conteúdo se expanda verticalmente */
}
