.seletorPorcentagem {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.diminuir,
.aumentar {
    border-radius: 50%; 
    font-size: 1.5em; 
    margin: 0 5px; 
}


.seletorPorcentagem button {
    border: none;
    background-color: transparent;
}