<!DOCTYPE html>
<html>

<head>
    <title>Novo Produto</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1>Novo Produto</h1>
        <form method="POST" action="/produtos/salvar">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            <div class="form-group">
                <label for="destinacao">Destinação:</label>
                <input type="text" class="form-control" id="destinacao" name="destinacao" required>
            </div>
            <div class="form-group">
                <label for="rentabilidade">Rentabilidade:</label>
                <input type="number" step="0.01" class="form-control" id="rentabilidade" name="rentabilidade" required>
            </div>
            <div class="form-group">
                <label for="prazo">Prazo:</label>
                <input type="date" class="form-control" id="prazo" name="prazo" required>
            </div>
            <div class="form-group">
                <label for="taxaAdministracao">taxa de administracao:</label>
                <input type="number" step="0.01" class="form-control" id="taxaAdministracao" name="taxaAdministracao"
                    required>
            </div>
            <button type="submit" class="btn btn-primary">Criar Produto</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>