<!DOCTYPE html>
<html>
<head>
    <title>Novo Produto</title>
    {{!-- <link rel="stylesheet" href="/styles.css"> --}}
</head>
<body>
    <h1>Novo Produto</h1>
    <form method="POST" action="/produtos/salvar">
    {{!-- .precisa do produtos pq no topo do controler chama produtos --}}
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <br>
        <button type="submit">Criar Produto</button>
    </form>
</body>
</html>
