.milhasComponente {
    padding: 5px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center; /* Centraliza os elementos horizontalmente */
}

.milhasComponente button {
    margin: 0 5px; 
    min-height: 50px;
    width: 66px;
}

.milhasRetangulo{
    border: 2px solid #ccc;
    border-radius: 10px;
    /* padding: 20px; */

}

.diminuir10k, .aumentar10k{
    height: 75px;

}