.sectionContainer {
    border: 1px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 10px auto;
}

.normalSize {
    height: auto;
}

.bigSize {
    height: auto;
}

.greenBorder {
    border-color: green;
}

.grayBorder {
    border-color: gray;
}